<%= link_to "â† go back without saving changes", password_path(@password), class:"block my-4 no-underline text-xs text-blue-500" %>
<h1>Share Password</h1>
<%= render "form", password: @password, user_password: @user_password, users: @password.shareable_users %>